*.ico
*.jpg
*.png
*.svg
*.ttf
*.woff
*.woff2
.npmrc
.eslintignore
.gitignore
.idea
.prettierignore
/cms-app/strapi
/packages/ui-kit/.npmrc
/packages/ui-kit/storybook-static
packages/ui-kit/node_modules
packages/ui-kit/lib
packages/web-application/.npmrc
packages/web-application/node_modules
packages/web-application/build
/packages/web-application/src/index.html
node_modules
pnpm-lock.yaml